<div class='account'>
	<form>
		<table class='centerAccount'>
			<tr>
				<td class='right'>Email:</td>
				<td></td>
				<td class='left' ng-bind-html='email'></td>
			</tr>
			<tr>
				<td class='right'>Developer Id:</td>
				<td></td>
				<td class='left' ng-bind-html='devId'></td>
			</tr>
			<tr>
				<td class='right'>First Name:</td>
				<td></td>
				<td class='left' ng-bind-html='firstName'></td>
			</tr>
			<tr>
				<td class='right'>Middle Name:</td>
				<td></td>
				<td class='left' ng-bind-html='middleName'></td>
			</tr>
			<tr>
				<td class='right'>Last Name:</td>
				<td></td>
				<td class='left' ng-bind-html='lastName'></td>
			</tr>
			<tr>
				<td class='right'>Nickname:</td>
				<td></td>
				<td class='left' ng-bind-html='nickname'></td>
			</tr>
		</table>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-click='updateDetails()'>Update Details</button>
		</div>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-click='changePassword()'>Change Password</button>
		</div>
	</form>
</div>