<div ng-show='accountShow' class='account'>
	<form>
		<table class='centerAccount'>
			<tr>
				<td class='right'>{{ 'EMAIL' | translate }}</td>
				<td></td>
				<td class='left' ng-bind-html='email'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'DEVELOPERID' | translate }}</td>
				<td></td>
				<td class='left' ng-bind-html='devId'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'FIRSTNAME' | translate }}</td>
				<td></td>
				<td class='left' ng-bind-html='firstName'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'MIDDLENAME' | translate }}</td>
				<td></td>
				<td class='left' ng-bind-html='middleName'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'LASTNAME' | translate }}</td>
				<td></td>
				<td class='left' ng-bind-html='lastName'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'NICKNAME' | translate }}</td>
				<td></td>
				<td class='left' ng-bind-html='nickname'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'USERIMAGEURL' | translate }}</td>
				<td></td>
				<td class='left' ng-bind-html='imageURL'></td>
			</tr>
		</table>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-click='updateDetails()'>{{ 'UPDATEDETAILS' | translate }}</button>
		</div>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-click='changePassword()'>{{ 'CHANGEPASSWORD' | translate }}</button>
		</div>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-click='deleteDeveloper()'>{{ 'DELETEACCOUNT' | translate }}</button>
		</div>
	</form>
</div>

<div ng-show='deleteDeveloperPopup' class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="noDeleteAccount()">&times;</button>
			<h4 class="modal-title">{{ 'DELETEACCOUNT' | translate }}</h4>
		</div>
		<div class="modal-body">
			<div>{{ 'DELETEACCOUNTBODY1' | translate }}</div>
			<div>{{ 'DELETEACCOUNTBODY2' | translate }}</div>
			<div>{{ 'DELETEACCOUNTBODY3' | translate }}</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="yesDeleteAccount()">{{ 'YES' | translate }}</button>
			<button type="button" class="btn btn-primary" ng-click="noDeleteAccount()">{{ 'NO' | translate }}</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->