<div class='changePassword'>
	<form>
		<table class='centerAccount'>
			<tr>
				<td class='right'>Old Password:</td>
				<td></td>
				<td class='left'><input type='password' ng_model='old'></td>
			</tr>
			<tr>
				<td class='right'>New Password:</td>
				<td></td>
				<td class='left'><input type='password' ng_model='new'></td>
			</tr>
			<tr>
				<td class='right'>Repeat New Password:</td>
				<td></td>
				<td class='left'><input type='password' ng_model='repeat'></td>
			</tr>
		</table>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-click='changePassword()'>Change Password</button>
		</div>
	</form>
</div>