<div class='changePassword'>
	<form>
		<table class='centerChangePassword'>
			<tr>
				<td class='right'>{{ 'NEWPASSWORD' | translate }}</td>
				<td></td>
				<td class='left'><input type='password' ng_model='new'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'REPEATNEWPASSWORD' | translate }}</td>
				<td></td>
				<td class='left'><input type='password' ng_model='repeat'></td>
			</tr>
		</table>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-click='changePassword()'>{{ 'CHANGEPASSWORD' | translate }}</button>
		</div>
	</form>
</div>