<div class="dash">
	<script type="text/javascript-lazy">
            console.log(this.gameStats);
            function setGaugeVal(gaugechart,value){
                gaugechart.arrows[0].setValue(value);
                gaugechart.axes[0].setBottomText(value);
            };

            var gaugechart = AmCharts.makeChart("gaugechartdiv1", {
                "type": "gauge",
                "theme": "chalk", 
                "titles": [{
                    "text": "Total Number of Plays",
                    "size":20
                }],    
                "axes": [{
                    "axisThickness":1,
                     "axisAlpha":0.2,
                     "tickAlpha":0.2,
                     "valueInterval":20,
                    "bands": [{
                        "color": "#84b761",
                        "endValue": 90,
                        "startValue": 0
                    }, {
                        "color": "#fdd400",
                        "endValue": 130,
                        "startValue": 90
                    }, {
                        "color": "#cc4748",
                        "endValue": 220,
                        "innerRadius": "95%",
                        "startValue": 130
                    }],
                    "bottomText": "0 km/h",
                    "bottomTextYOffset": -20,
                    "endValue": 220
                }],
                "arrows": [{}]
            });
            
             var gaugechart2 = AmCharts.makeChart("gaugechartdiv2", {
                "type": "gauge",
                "theme": "chalk", 
                "titles": [{
                    "text": "Rating",
                    "size":20
                }],    
                "axes": [{
                    "axisThickness":1,
                     "axisAlpha":0.2,
                     "tickAlpha":0.2,
                     "valueInterval":0.5,
                    "bands": [{
                        "color": "#84b761",
                        "endValue": 3,
                        "startValue": 0
                    }, {
                        "color": "#fdd400",
                        "endValue": 4,
                        "startValue": 3
                    }, {
                        "color": "#cc4748",
                        "endValue": 5,
                        "innerRadius": "95%",
                        "startValue": 4
                    }],
                    "bottomText": "0 km/h",
                    "bottomTextYOffset": -1,
                    "endValue": 5
                }],
                "arrows": [{}]
            });
    
            var gaugechart3 = AmCharts.makeChart("gaugechartdiv3", {
                "type": "gauge",
                "theme": "chalk", 
                "titles": [{
                    "text": "High Score",
                    "size":20
                }],    
                "axes": [{
                    "axisThickness":1,
                     "axisAlpha":0.2,
                     "tickAlpha":0.2,
                     "valueInterval":100,
                    "bottomText": "0 km/h",
                    "bottomTextYOffset": -1,
                    "endValue": 1000
                }],
                "arrows": [{}]
            });

            setGaugeVal(gaugechart,this.gameStats.currentGames.length+ this.gameStats.finishedGames.length);
            setGaugeVal(gaugechart3,this.gameStats.highScore.score);
            setGaugeVal(gaugechart2,this.gameStats.rating);
    </script>
    <table>
        <tr>
            <td>
                <div id="gaugechartdiv1" style="width:300px; height:300px;" ></div>
            </td>
            <td>
                <div id="gaugechartdiv3" style="width:300px; height:300px;"></div>
            </td>
            <td>
                <div id="gaugechartdiv2" style="width:300px; height:300px;"></div>
            </td>
        </tr>
        
    </table>
    <div class="chalkboard">
        <span>Current Number of Players: {{gameStats.currentGames.length}} </span><br>
        <span>Historical Number of Players: {{gameStats.finishedGames.length}} </span><br>
        <span>Best Player (id): {{gameStats.highScore.playerId}} </span>
    </div>
</div>