<div id="gamebox">
	<br>
	<div >
		<table class='center' border="0" cellpadding="0" cellspacing="0">
			<div>{{ 'SEARCH' | translate }}<input ng-model="query"></div><br>
			<div>
				{{ 'SORTBY' | translate }}
			<select ng-model="orderProp">
				<option value="gameName">{{ 'GAMENAMESL' | translate }}</option>
				<option value="url">{{ 'URLSL' | translate }}</option>
				<option value="">{{ 'ORIGIN' | translate }}</option>
			</select>
			</div>
			<tr>
				<td></td>
				<td><input type='button' value='Game Name'></td>
				<td><input type='button' value='Game URL'></td>
				<td>{{ 'DASHBOARD' | translate }}</td>
				<td>{{ 'BUGREPORT' | translate }}</td>
			</tr>

			<tr ng-repeat="game in games | filter:query | orderBy:orderProp">
				<td><button class='btn btn-embossed btn-inverse' ng-click='editGame($index)'>{{ 'EDIT' | translate }}</button></td>
				<td>{{game.gameName}}</td>
				<td>{{game.url}}</td>
				<td><a href="#/dash/{{game.gameId}}">{{ 'DASHBOARD' | translate }}</a></td>
				<td><a href="#/bugs">{{ 'BUGREPORT' | translate }}</a></td>
			</tr>

			<tr>
				<td><button class='btn btn-embossed btn-inverse' ng-click='showFormForNewGame()'>{{ 'NEW' | translate }}</button></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>

	</div>

	<div>
	<form ng-show='submitformOpen'>
		<table class='center'>
			<tr>
				<td class='right'>{{ 'GAMENAME' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng-model='gameName'>*</td>
			</tr>
			<tr>
				<td class='right'>{{ 'DESCRIPTION' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng-model='description'>*</td>
			</tr>
			<tr>
				<td class='right'>{{ 'URL' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng-model='url'>*</td>
			</tr>
			<tr>
				<td class='right'>{{ 'WIDTH' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' value='800' ng-model='width'>*</td>
			</tr>
			<tr>
				<td class='right'>{{ 'HEIGHT' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' value='800' ng-model='height'>*</td>
			</tr>
			<tr>
				<td class='right'>{{ 'HASTOKENS' | translate }}</td>
				<td></td>
				<td class='left'><input type='checkbox' ng-model='hasToken'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'ICON' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng-model='icon'></td>
			</tr>
			<tr ng-repeat="SS in SSs">
				<td class='right'><button ng-model='clearSS' ng-click='clearSS($index)'>&#10006</button></td>
				<td></td>
				<td>{{SS}}</td>
			</tr>
		</table>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-model='addScreenShot' ng-click='addScreenShot()'>{{ 'ADDSCREENSHOT' | translate }}</button>
		</div>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-model='submitButton' ng-click='submitGame()'>{{ 'SUBMITGAME' | translate }}</button>
			<button class='btn btn-embossed btn-inverse' ng-model='cancelSubmitButton' ng-click='closeAllForms()'>{{ 'CANCEL' | translate }}</button>
		</div>
	</form>
	</div>

	<div>
	<form ng-show='editformOpen'>
		<table class='center'>
			<tr>
				<td class='right'>{{ 'GAMENAME' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng-model='editGameName'>*</td>
			</tr>
			<tr>
				<td class='right'>{{ 'DESCRIPTION' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng-model='editDescription'>*</td>
			</tr>
			<tr>
				<td class='right'>{{ 'URL' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng-model='editUrl'>*</td>
			</tr>
			<tr>
				<td class='right'>{{ 'WIDTH' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' value='800' ng-model='editWidth'>*</td>
			</tr>
			<tr>
				<td class='right'>{{ 'HEIGHT' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' value='800' ng-model='editHeight'>*</td>
			</tr>
			<tr>
				<td class='right'>{{ 'HASTOKENS' | translate }}</td>
				<td></td>
				<td class='left'><input type='checkbox' ng-model='editHasToken'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'ICON' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng-model='editIcon'></td>
			</tr>
			<tr ng-repeat="editSS in editSSs">
				<td class='right'><button ng-model='editClearSS' ng-click='editClearSS($index)'>&#10006</button></td>
				<td></td>
				<td>{{editSS}}</td>
			</tr>
		</table>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-model='editAddScreenShot' ng-click='editAddScreenShot()'>{{ 'ADDSCREENSHOT' | translate }}</button>
		</div>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-model='updateGameButton' ng-click='updateGame()'>{{ 'UPDATEGAME' | translate }}</button>
			<button class='btn btn-embossed btn-inverse' ng-model='editCancelButton' ng-click='closeAllForms()'>{{ 'CANCEL' | translate }}</button>
		</div>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-model='deleteGame' ng-click='deleteGame()'>{{ 'DELETEGAME' | translate }}</button>
		</div>
	</form>
	</div>

	<div ng-show='SSpopup' class="modal-dialog">
	    <div class="modal-content">
	   		<div class="modal-header">
	      		<button type="button" class="close" ng-click="cancel()">&times;</button>
	      		<h4 class="modal-title">{{ 'ADDSCREENSHOT' | translate }}</h4>
	    	</div>
	    	<div class="modal-body">
				<table class='center'>
					<tr>
						<td class='right'>{{ 'SCREENSHOT' | translate }}</td>
						<td></td>
						<td class='left'><input type='text' ng-model='screenShot'></td>
					</tr>
				</table>
	    	</div>
	    	<div class="modal-footer">
	      		<button type="button" class="btn btn-default" ng-click="addSS()">{{ 'ADD' | translate }}</button>
	      		<button type="button" class="btn btn-primary" ng-click="cancelSS()">{{ 'CANCEL' | translate }}</button>
	    	</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->

	<div ng-show='editSSpopup' class="modal-dialog">
	    <div class="modal-content">
	   		<div class="modal-header">
	      		<button type="button" class="close" ng-click="cancel()">&times;</button>
	      		<h4 class="modal-title">{{ 'ADDSCREENSHOT' | translate }}</h4>
	    	</div>
	    	<div class="modal-body">
				<table class='center'>
					<tr>
						<td class='right'>{{ 'SCREENSHOT' | translate }}</td>
						<td></td>
						<td class='left'><input type='text' ng-model='editScreenShot'></td>
					</tr>
				</table>
	    	</div>
	    	<div class="modal-footer">
	      		<button type="button" class="btn btn-default" ng-click="editAddSS()">{{ 'ADD' | translate }}</button>
	      		<button type="button" class="btn btn-primary" ng-click="editCancelSS()">{{ 'CANCEL' | translate }}</button>
	    	</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->

	<div ng-show='deleteGamepopup' class="modal-dialog">
		<div class="modal-content">
    		<div class="modal-header">
      			<button type="button" class="close" ng-click="cancel()">&times;</button>
    			<h4 class="modal-title">{{ 'DELETEGAME' | translate }}</h4>
    		</div>
    		<div class="modal-body">
      			<div>{{ 'DELETEGAMEBODY1' | translate }}</div>
      			<div>{{ 'DELETEGAMEBODY2' | translate }}</div>
    		</div>
    		<div class="modal-footer">
    			<button type="button" class="btn btn-default" ng-click="yesDeleteGame()">{{ 'YES' | translate }}</button>
    			<button type="button" class="btn btn-primary" ng-click="noDeleteGame()">{{ 'NO' | translate }}</button>
    		</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	
</div>