<div class='updateDetails'>
	<form>
		<table class='centerUpdateDetails'>
			<tr>
				<td class='right'>{{ 'FIRSTNAME' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng_model='firstName'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'MIDDLENAME' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng_model='middleName'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'LASTNAME' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng_model='lastName'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'NICKNAME' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng_model='nickname'></td>
			</tr>
			<tr>
				<td class='right'>{{ 'USERIMAGEURL' | translate }}</td>
				<td></td>
				<td class='left'><input type='text' ng_model='imageURL'></td>
			</tr>
		</table>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-click='updateDetails()'>{{ 'UPDATEDETAILS' | translate }}</button>
		</div>
	</form>
</div>