<div class='updateDetails'>
	<form>
		<table class='centerUpdateDetails'>
			<tr>
				<td class='right'>First Name:</td>
				<td></td>
				<td class='left'><input type='text' ng_model='firstName'></td>
			</tr>
			<tr>
				<td class='right'>Middle Name:</td>
				<td></td>
				<td class='left'><input type='text' ng_model='middleName'></td>
			</tr>
			<tr>
				<td class='right'>Last Name:</td>
				<td></td>
				<td class='left'><input type='text' ng_model='lastName'></td>
			</tr>
			<tr>
				<td class='right'>Nickname:</td>
				<td></td>
				<td class='left'><input type='text' ng_model='nickname'></td>
			</tr>
			<tr>
				<td class='right'>User Image (URL):</td>
				<td></td>
				<td class='left'><input type='text' ng_model='imageURL'></td>
			</tr>
		</table>
		<div>
			<button class='btn btn-embossed btn-inverse' ng-click='updateDetails()'>Update Details</button>
		</div>
	</form>
</div>